/* Colour Palette */
:root {
    --backdrop: rgb(83, 82, 92);
    --contentBox: rgb(52, 51, 60);
    --border: white;
    --accent: red;
    --font: rgb(219, 213, 202);
}

body {
    padding: 10px;
    background-color: var(--backdrop);
    color: var(--font);
}

@font-face {
    font-family: mana;
    src: url(//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.min.css);
}

#topBox {
    display: flexbox;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--contentBox);
}

#controlBox {
    width: 60%;
    height: fit-content;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
}

#formBox {
    width: 50%;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--contentBox);
}

#sideBox {
    width: 50%;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--contentBox);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

#modeBox {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

button {
    width: 70px;
    height: 35px;
    background-color: var(--backdrop);
    color: var(--font);
}

button:hover {
    scale: 1.05;
}

.buttonHolder {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#sortBox {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
}

main {
    margin-left: 0%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
}

#card-list {
    margin-left: 2%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

li {
    height: 92mm;
    width: 63mm;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--contentBox);
    border-radius: 10px;
}

.manaCostDisplay {
    /* background-color: red; */
    /* font-size: 30px; */
    font-family: mana;
}

.ms.ms-g {
    color: rgb(0, 115, 62);
}

.ms.ms-r {
    color: rgb(211, 32, 42);
}

.ms.ms-u {
    color: rgb(14, 104, 171);
}

.ms.ms-b {
    color: purple;
}

.ms.ms-w {
    color: rgb(249, 250, 244);
}

@media screen and (max-width: 640px) {
    
    #controlBox {
        width: 100%;
        height: 650px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items:center;
    }

    #formBox {
        margin-left: auto;
        margin-right: auto;
    }

}