/* Colour Palette */
:root {
    --backdrop: rgb(83, 82, 92);
    --contentBox: rgb(63, 61, 73);
    --border: white;
    --accent: red;
    --font: rgb(219, 213, 202);
}

body {
    padding: 10px;
    background-color: var(--backdrop);
    color: var(--font);
}

@font-face {
    font-family: mana;
    src: url(//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.min.css);
}

#topBox {
    display: flexbox;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--contentBox);
}

#controlBox {
    width: 60%;
    height: fit-content;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
}

#formBox {
    width: 50%;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--contentBox);
}

#sideBox {
    width: 50%;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--contentBox);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

#modeBox {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

button {
    width: 70px;
    height: 35px;
    background-color: var(--backdrop);
    color: var(--font);
}

button:hover {
    scale: 1.05;
}

.buttonHolder {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#sortBox {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
}

main {
    margin-left: 0%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
}

#card-list {
    margin-left: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;

}

li {
    height: 92mm;
    width: 63mm;
    margin: 20px;
    padding: 20px;
    background-color: var(--contentBox);
    border-radius: 10px;
}

.manaCostDisplay {
    /* background-color: red; */
    /* font-size: 30px; */
    font-family: mana;
}

@media screen and (max-width: 600px) {

    #controlBox {
        flex-direction:column
    }
    
}